@tailwind base;
@tailwind components;
@tailwind utilities;

button,
input,
select {
  outline: none !important;
}

input:disabled {
  background: #DEE3EC !important;
  color: rgb(107, 114, 128, 1) !important;
}

.collapse-title {
  @apply p-0;
  @apply px-4;
}

.c-tabs div {
  @apply cursor-pointer;
}

.c-tabs .active {
  @apply border-b-2;
}

.center-right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.divider:before,
.divider::after {
  height: 1px;
}

.radio-primary,
.radio-primary:hover,
.radio-primary:checked {
  border-color: #00529D;
}

.radio-primary:checked {
  background-color: #00529D;
}

@media only screen and (max-width: 768px) {
  .center-right {
    top: 25%;
    right: 10px;
  }
}